.App{
    display: grid;
    grid-template-columns: 2fr ;
}

.nav-container{
    background-color: aqua;
    
    height: 100vh;
    padding: 10px;
}

.stat-content{
    display: flex;
    flex-wrap: wrap;
}
